#menu{
height: 50px;
background-color: :#E8E8EE;
display: inline-block;
}


h1{

position: absolute;
top: 0;
left:20%;
font-size: 30px;
color: #000;

}

#map {
    top: 50px;
    height: 600px;
    width: 70%;
    display:
    inline-block
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}
#panel {
    top: 80px;
    width: 26%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 70%;
    top: 80px;
}

#sequencecontrol{
  margin: 0.2em 0;
  top: 80px;
  padding-top: 60px;

}
form{
  text-align:left;
  margin: 0.2em 0;
}

#forward {
    float: right

}

#forward img{
  height: 20px;
}



#reverse {
    float: left;
    top: 80px;

}

#reverse img{
  height:20px;
}
