

#menu{
height: 50px;
display: inline-block;
}


h1{

position: absolute;
top: 0;
left:20%;
font-size: 30px;
color: #000;
font-family: arial;

}

#map {
    top: 50px;
    height: 600px;
    width: 70%;
    display:
    inline-block
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}
#panel {
    top: 80px;
    width: 26%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 100px;
    top: 80px;
}

#sequencecontrol{
  top: 80px;
  padding-top: 60px;

}
form{
  text-align:left;
  margin: 0.1em 0;
  margin-bottom: 1cm;
  font-family: arial;
}

.legend-control-container{
  height: 100px;
  width: 50;
  background-color: rgba(255,255,255,0.5);
  line-height: 45px;
  border: solid gray 1px;
  text-align: center;
  padding-bottom: 20px;

}
#temporal-legend{
  font-family: arial;
}

.sequence-control-container {
    width: 200px;
    height: 30px;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.skip{
  padding-top: 5px;
}
#forward {
    float: right

}

#forward img{
  height: 20px;
}



#reverse {
    float: left;
    top: 80px;

}

#reverse img{
  height:20px;

}
